---
---

@import "{{ site.theme }}";

body {
    font-family: "Chiron Sung HK WS"; /* 留意字體名稱 */
    font-weight: 310; /* 250 至 900 之間的任一數值 */
    font-style: normal; /* normal （正體）或 italic（斜體） */
    font-variation-settings: "PADG" 4; /* 0 至 10 之間的任一數值 */
}